@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-frosted-mint-100: #16461d;
  --color-frosted-mint-200: #2b8c3a;
  --color-frosted-mint-300: #4cc85e;
  --color-frosted-mint-400: #92dd9d;
  --color-frosted-mint-500: #d8f3dc;
  --color-frosted-mint-600: #e0f5e3;
  --color-frosted-mint-700: #e8f8ea;
  --color-frosted-mint-800: #effaf1;
  --color-frosted-mint-900: #f7fdf8;
  --color-celadon-100: #173c24;
  --color-celadon-200: #2d7847;
  --color-celadon-300: #44b46b;
  --color-celadon-400: #7dce99;
  --color-celadon-500: #b7e4c7;
  --color-celadon-600: #c7ead3;
  --color-celadon-700: #d5efde;
  --color-celadon-800: #e3f4e9;
  --color-celadon-900: #f1faf4;
  --color-celadon-light-100: #153423;
  --color-celadon-light-200: #296845;
  --color-celadon-light-300: #3e9b68;
  --color-celadon-light-400: #61c08c;
  --color-celadon-light-500: #95d5b2;
  --color-celadon-light-600: #aaddc1;
  --color-celadon-light-700: #c0e6d1;
  --color-celadon-light-800: #d5eee0;
  --color-celadon-light-900: #eaf7f0;
  --color-mint-leaf-100: #122d20;
  --color-mint-leaf-200: #255a3f;
  --color-mint-leaf-300: #37875f;
  --color-mint-leaf-400: #49b47e;
  --color-mint-leaf-500: #74c69d;
  --color-mint-leaf-600: #91d2b1;
  --color-mint-leaf-700: #acddc5;
  --color-mint-leaf-800: #c8e9d8;
  --color-mint-leaf-900: #e3f4ec;
  --color-mint-leaf-dark-100: #10251b;
  --color-mint-leaf-dark-200: #1f4b36;
  --color-mint-leaf-dark-300: #2f7052;
  --color-mint-leaf-dark-400: #3f966d;
  --color-mint-leaf-dark-500: #52b788;
  --color-mint-leaf-dark-600: #75c5a0;
  --color-mint-leaf-dark-700: #97d4b8;
  --color-mint-leaf-dark-800: #bae2cf;
  --color-mint-leaf-dark-900: #dcf1e7;
  --color-sea-green-100: #0d1d16;
  --color-sea-green-200: #1a3a2b;
  --color-sea-green-300: #265741;
  --color-sea-green-400: #337457;
  --color-sea-green-500: #40916c;
  --color-sea-green-600: #58b68b;
  --color-sea-green-700: #82c8a8;
  --color-sea-green-800: #abdac5;
  --color-sea-green-900: #d5ede2;
  --color-dark-emerald-100: #091510;
  --color-dark-emerald-200: #122b20;
  --color-dark-emerald-300: #1c4030;
  --color-dark-emerald-400: #255640;
  --color-dark-emerald-500: #2d6a4f;
  --color-dark-emerald-600: #439d75;
  --color-dark-emerald-700: #69bf98;
  --color-dark-emerald-800: #9bd4ba;
  --color-dark-emerald-900: #cdeadd;
  --color-pine-teal-100: #050d0a;
  --color-pine-teal-200: #0a1a14;
  --color-pine-teal-300: #10271e;
  --color-pine-teal-400: #153527;
  --color-pine-teal-500: #1b4332;
  --color-pine-teal-600: #327d5e;
  --color-pine-teal-700: #4cb78b;
  --color-pine-teal-800: #87cfb1;
  --color-pine-teal-900: #c3e7d8;
  --color-evergreen-100: #020604;
  --color-evergreen-200: #030b08;
  --color-evergreen-300: #05110d;
  --color-evergreen-400: #061611;
  --color-evergreen-500: #081c15;
  --color-evergreen-600: #1d664c;
  --color-evergreen-700: #32b084;
  --color-evergreen-800: #6bd5b0;
  --color-evergreen-900: #b5ead8;
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}